/*フォントの指定*/
@font-face {
  font-family:"Rounded M+"; 
  src:url("../font/rounded-mplus-2p-regular.ttf")format("truetype"); 
}
@font-face {
  font-family:"コーポレートロゴ"; 
  src:url("../font/Corporate-Logo-Bold-ver3.otf"); 
}
body{
    font-family:"Rounded M+", sans-serif;
    background-color: #83d46b;
    margin: 0;
    padding: 0;
  }
  .title{
    text-align: center;
  }
  .title_txt{
    font-family:"コーポレートロゴ",sans-serif;
    font-size: 10vh;
    color: #FFF;
  }
.button003 a {
    background: #d7f3bf;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 230px;
    padding: 10px 25px;
    color: #346940;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    text-decoration: none;
}
.button003 a:hover {
    background: #346940;
    color:  #d7f3bf;
    font-weight: bold;
    text-decoration: none;
}
.center{
    margin: 50vh auto 0;
	transform: translateY(-70%)
}
.gameClear_center{
    margin: 50vh auto 0;
	transform: translateY(-65%)

}
.icon1{
  height:7vh;
}
.icon{
  margin-top: 4px;
  margin-left: 4px;
  width:3%
}
.icon:hover{
  width:2.9%;
  padding-bottom :2px;
}
/*モーダル*/
.button,
.modalScroll,
.ScrollContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal_bg {
  background: rgba(0, 0, 0, 0.32);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.js-modal-close {
  color: #555;
}

.modalScroll {
  background: #fff;
  height: 400px;
  width: 400px;
  max-height: 800px;
  padding: 20px;
  border-radius: 20px;
}
.ScrollContent {
  overflow-y: scroll;
  height: 350px;
  width: 95%;
  border-radius: 20px;
}
::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 10px;
}

.modal_content h1,
.modal_content {
  color: rgb(49, 49, 49);
  padding-top: 70px;
  padding-bottom: 5px;
}
.modal_content1{
  font-size: 5vh;
  text-align: center;
}
.modal_content2{
  font-size: 4.5vh;
  text-align: center;
}
.modal_center{
  text-align: center;
}
